* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    background-color: #0d0f12;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#right {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    background: url("../images/login-bg.jpg") no-repeat center center / cover;
}

.primary-btn {
    height: 40px;
    background-color: #0084bd;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.primary-btn:hover {
    background-color: #006f9e;
}

.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: rgba(138,153,168,0.25);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    text-decoration: none;
}

.secondary-btn:hover {
    background-color: rgba(138,153,168,0.35);
}

/* Sign In */
#signin {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.logo img {
    display: block;
    width: 300px;
    max-width: 80%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 12px;
    
}

.text-input {
    height: 40px;
    background-color:  #0d0f12;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 24px;
    border-radius: 2px;
    border: 1px solid #666; 
}

#signin .primary-btn {
    margin-bottom: 48px;
}

#signin .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signin .links a {
    font-size: 13px;
    color: #0084bd;
    text-decoration: none;
    text-align: center;
    margin-bottom: 16px;
}

.bar {
    height: 1px;
    background-color: rgba(138,153,168,0.25);
    margin-bottom: 16px;
    border: none;
}

#signin .secondary-btn {
    margin-bottom: 24px;
}

/* Footer */
.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.footer a, .footer p {
    color:#888;
}

/* Showcase */
#showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase h1{
font-size: 48px;
margin-bottom: 48px;
}